
aulas/.ipynb_checkpoints/

labs/data/
aulas/credentials/credentials_ultrasecret.env
aulas/tmp/results_1.csv
aulas/tmp/
aulas/tmp_par/
aulas/__pycache__/
aulas/data/bestsellers with categories.csv
aulas/data/household_power_consumption.txt
aulas/.DS_Store
.DS_Store
